In [3]:
# Q1. The for loop is used when we already know the number of iterations, which means when we know how many times a statement has to be executed. 

##When we need to end the loop on a condition other than the number of times, we use a while loop.

# For Loop
for i in range(1,11,1):
    print("2 *",i," =",2*i)

#While Loop
n=int(input("Enter the number and reverse it"))
rev=0
while(n>0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
print(rev)

2 * 1  = 2
2 * 2  = 4
2 * 3  = 6
2 * 4  = 8
2 * 5  = 10
2 * 6  = 12
2 * 7  = 14
2 * 8  = 16
2 * 9  = 18
2 * 10  = 20

Enter the number and reverse it 123

321

In [6]:
# Q2. 

# Sum of 10 natural number Using For Loop:
Sum1=0
for i in range(1,11):
    Sum1+=i
print("The Sum is :",Sum1)


# Sum of 10 natural number Using While Loop:
n=10
Sum2=0
while(n>0):
    Sum2+=n
    n-=1
print("The Sum is:",Sum2)


# Product of the first 10 natural numbers using for Loop
Product=1
for i in range(1,11):
    Product*=i
print("The Product of First natural number is",Product)

# Product of the first 10 natural numbers using While Loop
Product1=1
n=10
while(n>0):
    Product1*=n
    n-=1
print("The Product of First natural number is",Product1)

The Sum is : 55
The Sum is: 55
The Product of First natural number is 3628800
The Product of First natural number is 3628800

In [10]:
# Q3. 
print("Python program to compute the electricity bill for a household.")
n=int(input('''Enter Your Bill Unit Consumed in a month :
               The per-unit charges in rupees are as follows:
              1- For the first 100 units, the user will be charged Rs. 4.5 per unit.
              2- For the next 100 units, the user will be charged Rs. 6 per unit.
              3- For the next 100 units, the user will be charged Rs. 10 per unit.
              4- After 300 units and above the user will be charged Rs. 20 per unit.
               '''))
Total = 0
if n<=100:
    Total+=n*4.5
elif n>100 and n<=200:
    Total+=(100)*4.5+(n-100)*6
elif n>200 and n<=300:
    Total+=100*4.5+100*6+(n-200)*10
elif n>300:
    Total+=100*4.5+100*6+100*10+(n-300)*20

print("Total Amount to paid is:",int(Total))

Python program to compute the electricity bill for a household.

Enter Your Bill Unit Consumed in a month :
               The per-unit charges in rupees are as follows:
              1- For the first 100 units, the user will be charged Rs. 4.5 per unit.
              2- For the next 100 units, the user will be charged Rs. 6 per unit.
              3- For the next 100 units, the user will be charged Rs. 10 per unit.
              4- After 300 units and above the user will be charged Rs. 20 per unit.
                310

Total Amount to paid is: 2250

In [13]:
# Q4.
# Create a list
l=[]
for i in range(1,101):
    l.append(i)
h1=[]
for i in l:
    h1.append(i**3)
print("cube of each number",h1)
h=[]
for i in h1:
    if i % 4 == 0 and i % 5 == 0:
        h.append(i)
print("\n\nThe cube of that number is divisible by 4 or 5 are :",h)

cube of each number [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]


The cube of that number is divisible by 4 or 5 are : [1000, 8000, 27000, 64000, 125000, 216000, 343000, 512000, 729000, 1000000]

In [15]:
# Q5.
string = "I want to become a data scientist"
h=['a','e','i','o','u','A','E','I','O','U']
c=0
for i in string:
    if i in h:
        c+=1
print("Total vowel count in string is :",c)

Total vowel count in string is : 12